@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active-nav {
    @apply border-b-2 border-solid border-white lg:border-selfYellow;
  }
  .main-heading {
    @apply font-[500] leading-normal relative w-fit;
  }

  .heading2 {
    @apply text-[24px] leading-normal md:text-2xl font-semibold text-gray-800;
  }

  .heading3 {
    @apply font-semibold text-gray-800;
  }

  .text {
    @apply font-normal text-gray-600;
  }
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1200px !important;
}

/* [dir='rtl'] .slider2 {
    float: left;
} */
.shadow-box-cu {
  box-shadow: 0 0.7961918735236395px 2.3885756205709185px -0.625px #0000000d,
    0 2.414506143104518px 7.2435184293135535px -1.25px #0000000d,
    0 6.382653521484461px 19.147960564453385px -1.875px #0000000d,
    0 20px 60px -2.5px #0000000d;
}
html {
  scroll-behavior: smooth;
}
